html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
a,
a:link,
a:visited {
  color: #6491cc;
  transition: 0.2s;
  text-decoration: none;
}
a:hover,
a:focus,
a:active {
  color: #345e96;
  text-decoration: underline;
}
body {
  background-color: #89acd9;
}
#container {
  width: 80%;
  margin: 0 auto;
  background-color: #fff;
  font-family: "mplus-1p-regular", Helvetica, sans-serif;
  color: #27466f;
}
#page_header {
  background-color: #4076bd;
  color: #fff;
  height: 3rem;
  padding: 0 10px;
}
#brand {
  display: inline;
  line-height: 3rem;
}
#user_navbar {
  display: inline;
}
#user_navbar ul {
  display: inline;
  padding: 0;
  margin: 0;
  float: right;
}
#user_navbar ul:after {
  clear: both;
}
#user_navbar ul li {
  display: inline-block;
  height: 3rem;
  line-height: 3rem;
  transition: 0.3s;
}
#user_navbar ul li:hover {
  background-color: #6491cc;
}
#user_navbar a {
  display: inline-block;
  width: 100%;
  padding: 0 20px;
}
#user_navbar a,
#user_navbar a:link,
#user_navbar a:visited,
#user_navbar a:focus,
#user_navbar a:active,
#user_navbar a:hover {
  color: #fff;
  text-decoration: none;
}
#page_navbar {
  display: block;
}
#page_navbar ul {
  padding: 0;
  margin: 0;
}
#page_navbar ul li {
  box-sizing: border-box;
  display: inline-block;
  width: 33.33%;
  background-color: #345e96;
  height: 1.5rem;
  line-height: 1.5rem;
  border-right: solid 2px #27466f;
  text-align: center;
  transition: 0.3s;
}
#page_navbar ul li:hover {
  background-color: #6491cc;
}
#page_navbar a {
  display: inline-block;
  width: 100%;
}
#page_navbar a,
#page_navbar a:link,
#page_navbar a:visited,
#page_navbar a:focus,
#page_navbar a:active,
#page_navbar a:hover {
  color: #fff;
  text-decoration: none;
}
#city_navbar {
  display: block;
}
#city_navbar ul {
  padding: 0;
  margin: 0;
  background-color: #4076bd;
}
#city_navbar ul li {
  display: inline-block;
  height: 1.5rem;
  line-height: 1.5rem;
  transition: 0.3s;
  padding: 0 5px;
}
#city_navbar ul li:hover {
  background-color: #6491cc;
}
#city_navbar a {
  display: inline-block;
}
#city_navbar a,
#city_navbar a:link,
#city_navbar a:visited,
#city_navbar a:focus,
#city_navbar a:active,
#city_navbar a:hover {
  color: #fff;
  text-decoration: none;
}
#brand {
  margin: 0;
  padding: 0;
}
main {
  padding: 10px;
}
#responses {
  list-style-type: none;
  padding: 0;
}
.response {
  margin-top: 2rem;
}
.response header .response_id {
  box-sizing: border-box;
  background-color: #345e96;
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  margin-right: 10px;
}
.response div {
  margin-top: 1rem;
  margin-left: 1rem;
}
